@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* local styles */
.main {
  margin: none;
  padding: none;
  box-sizing: border-box;
}
h2 {
  width: 383.406px;
  color: #0b132a;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.subtitle {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/* Want Anything */
.want-anything__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.want-anything__title {
  width: 555px;
  color: #0b132a;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 140% */
}
.want-anything__title span {
  color: #0b132a;
  font-weight: 700;
}
.want-anything__title .subtitle {
  margin: 20px 0 50px;
}
.want-anything__title .subtitle span {
  color: #4f5665;
  font-weight: 500;
}
.get-started__button-container {
  width: 250px;
  height: 85.291px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* box-shadow: 6px 100px 50px -20px rgba(245, 56, 56, 0.5); */
}
.get-started__button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #f53838;
  border: none;
}
.get-started__button-text {
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
}
.get-started__button-shadow {
  width: 211.829px;
  height: 60px;
  border-radius: 10px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  margin-top: 40px;
  position: absolute;
}
.illustration-1__container {
  width: 450px;
  height: 382.444px;
  margin-left: 40.76px;
}
.community-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 200px;
  margin-top: 100px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 100px 100px -21px rgba(34, 60, 80, 0.07);
}
.community__item {
  margin: 0px 91px;
  display: flex;
  align-items: center;
}
.community__item-logo {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #ffecec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.community__item-text {
  color: #0b132a;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px; /* 120% */
  margin-left: 36.5px;
}
.community__item-text span {
  padding-top: 5px;
  color: #4f5665;
  font-size: 20px;
  font-weight: 400;
}
.divider-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider {
  height: 320px;
  border-top: 3px solid #bbb;
}

/* we-provide */
.we-provide__container {
  display: flex;
  margin-top: 95px;
}
.illustration-2__container {
}

.we-provide__title {
  margin-left: 190px;
}
.we-provide__title .subtitle {
  margin: 20px 0 20px;
}
.we-provide__list {
  padding-left: 0;
  color: #4f5665;
  font-size: 14px;
  list-style: none;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}
.we-provide__item {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

/* choose-your-plan */
.choose-your-plan__container {
  margin-top: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}
.choose-your-plan__title {
  margin-top: 80px;
}
