body {
  box-sizing: border-box;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
}
.layout-center {
  width: 1440px;
  max-width: 1440px;
  min-width: 1080px;
  height: 5189px;
  margin: 0 250px;
  padding: 50px 150px;
  background-color: #fff;
}
